.wrapper {
    height: 100vh;
    user-select: none;
    .area {
        text-align: center;
    }
    .touch {
        background-color: mediumspringgreen;
    }
    .no-touch {
        background-color: palevioletred;
    }
    .lightOn {
        color: orange;
    }
    .start-position {
        width: 5%;
        background-color: mediumaquamarine;
    }
}
