<div class="wrapper">
    <form class="d-flex justify-content-center" [formGroup]="settingForms">
        <div class="p-2">
            D=
            <select [formControlName]="'D'">
                <option value="0">20.8</option>
                <option value="1">41.6</option>
                <option value="2">72.8</option>
            </select>
            mm
        </div>
        <div class="p-2">
            W=
            <select [formControlName]="'W'">
                <option value="0">4.16</option>
                <option value="1">10.4</option>
                <option value="2">20.8</option>
            </select>
            mm
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <div class="p-2">{{displayCounter}}回目</div>
        <div class="p-2">{{message}}</div>
    </div>
    <div class="d-flex justify-content-center">
        <fa-icon class="p-2" [class.lightOn]="correctLabel=='left'" [icon]="faCircle"></fa-icon>
        <fa-icon class="p-2" [icon]="faPlus"></fa-icon>
        <fa-icon class="p-2" [class.lightOn]="correctLabel=='right'" [icon]="faCircle"></fa-icon>
    </div>
    <div class="row">
        <div id="fail-area" class="col-1 area">禁止</div>
        <div id="left-target" class="col-2 area">タッチ</div>
        <div id="fail-area" class="col-1 area">禁止</div>
        <button id="start-position" class="col-4 area start-position">開始</button>
        <div id="fail-area" class="col-1 area">禁止</div>
        <div id="right-target" class="col-2 area">タッチ</div>
        <div id="fail-area" class="col-1 area">禁止</div>
    </div>
    <!-- <div class="d-flex justify-content-center">
        <button (click)="inspect()">検証</button>
    </div> -->
</div>